receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  elastic:
    apm_server_url: "http://elasticsearch:9200"
    username: "elastic"
    password: "changeme"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [elastic]
