name: "Build"

on:
  workflow_call:
    inputs:
      project-name:
        description: 'The name of the project'
        default: MailKitSimplified
        type: string
    outputs:
      artifact:
        description: 'Build artifact name'
        value: ${{ jobs.build.outputs.artifact }}

jobs:
  build:
    name: Build
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    env:
      SOURCE: "source"
      SENDER: "${{ inputs.project-name }}.Sender"
      RECEIVER: "${{ inputs.project-name }}.Receiver"
      NET_VERSION: '8.x'

    outputs:
      artifact: ${{ env.SOURCE }} # -${{ matrix.runs-on }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # https://github.com/actions/setup-dotnet
    - name: Get .NET ${{ env.NET_VERSION }} externals
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x

    - name: Restore project dependencies
      shell: pwsh
      run: |
        Get-ChildItem -Path "./${{ env.SOURCE }}" -Filter "*er.csproj" -File -Recurse |
        Select-Object -ExpandProperty BaseName | ForEach-Object {
          dotnet restore "./${{ env.SOURCE }}/$_/$_.csproj" #Write-Output
        }

    # https://github.com/actions/upload-artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.SOURCE }}
        path: |
          ${{ env.SOURCE }}/${{ env.SENDER }}
          ${{ env.SOURCE }}/${{ env.RECEIVER }}
        retention-days: 1
        if-no-files-found: error # or 'ignore', defaults to `warn`
